{% extends 'temp/temp.html' %}
{% block base %}
	<form method="post">
		<h1 align="center" style="font-family: courier ;" >PREDICT REPORT</h1>
		<table align="center">
			<tr>
			<td> CASE NO </td>
			<td>
				<input type="text" name="caseno" placeholder="enter the case no" required="">
			</td>
		</tr>
		
			<tr>
			<td>
				<input type="submit" name="PREDICT" value="PREDICT" style="background-color: grey;width: 150px; height:50px;font-family: cursive;">
			</td>
	</table>
		
	</form>

{% endblock %}